/* 드롭다운 */

.dropdown-list {
  position: absolute;
  list-style: none;
  width: 200px;
  height: 150px;
  top: 70px;
  right: 50px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  z-index: 99;
}

.icon-img {
  margin-right: 7px;
}

.page-name {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
