/* 메인페이지 */
main {
  background-color: white;
  z-index: -1;
  width: 1128px;
  height: 640px;
  margin-top: 24px;
  position: absolute;
  top: 104px;
  left: 76px;
  right: 76px;
  bottom: 88px;
}

/* 프로덕트 리스트 페이지 */
